<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>app.soksak.wails</string>
	<key>CFBundleExecutable</key>
	<string>soksak-wailsv3</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleName</key>
	<string>soksak</string>
	<key>CFBundleDisplayName</key>
	<string>soksak</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.10</string>
	<key>CFBundleVersion</key>
	<string>0.0.10</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.4</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
		<string>en</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
